<div class="diari">
    {% for post in site.posts %}    
        {% if post.path contains 'diari' %}
        <div class="card">
            <div class="card__header">
                <img src="/img/diari/{{post.image}}"/>
            </div>
            <div class="card__title">
                <a href="{{ post.url | relative_url }}">
                    <h3> <strong>{{ post.title | escape }}</strong></h3> 
                </a>
            </div>
            <div class="card__body">
                <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
            </div>
            <div class="card__footer">
                <div class="user">
                  <img src="/img/balza-del-sole.jpg" alt="user__image" class="user__image">
                  <div class="user__info">
                    <srtrong class="user__author bold smaller">{{site.title}}</srtrong>
                    <small>{{post.date | date: "%d/%m/%Y"}}</small>
                  </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>   
