<div class="diari">
    {% for post in site.categories.diari %}    
        <div class="card">
            <div class="card__header">
                <img src="img/{{post.image}}"/>
            </div>
            <div class="card__title">
                <a href="{{ post.url | relative_url }}">
                    <h3> {{ post.title | escape }} </h3> 
                </a>
            </div>
            <div class="card__body">
                <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
            </div>
            <div class="card__footer">
                <div class="user">
                  <img src="/img/bg-strada.jpg" alt="user__image" class="user__image">
                  <div class="user__info">
                    <srtrong class="user__author bold smaller">{{site.title}}</srtrong>
                    <small>{{post.date | date: "%d/%m/%Y"}}</small>
                  </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>   