<div id="grid">
    {% for post in site.posts %}  
        {% if post.path contains "piccolo-appennino" %}  
            <div class="media-box ">
                <div class="media-box-image">
                    <div data-width="320" data-height="214" data-thumbnail="{{site.url }}/img/piccolo-appennino/{{post.image }}"></div>
                </div>

                <div class="media-box-content">
                    <div class="media-box-title">
                        <a href="{{ post.url | relative_url }}">
                            <h3 class="bold">{{ post.title | escape }}</h3>
                            <div class="meeting">
                                <span>{{post.distanza }}, </span> <span>{{post.durata }}, <span>{{post.dislivello }}, <span>{{post.difficolta }}<br>
                                </span> <span>{{post.utilizzo }} </span>
                              </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %} 
    {% endfor %}      
  </div>
