<div>
    {% for post in site.posts %}    
        {% if post.path contains 'podcast' %}
            <div class="radio-block">
                <img class="podcast-img" src="/img/podcast/{{post.image }}"/>
                <h3 class="bold radio-title">{{ post.title }}</h3>
                <small> {{post.date | date: "%d/%m/%Y"}}</small> 
                {{ post.content }}  
            
                <audio controls>
                    <source src="{{ site.url }}/audio/{{ post.audio }}" type="audio/mpeg">
                </audio>
                <hr>  
            </div>
        {% endif %} 
    {% endfor %}
</div>
