// VARIABLES
$color-primary: #d69e2e;
$color-primary-darker:#775818;
$color-link: #4a5568;
$grayishBlue: hsl(229, 6%, 66%);
$color-appennino: hsl(0, 78%, 62%);
$color-dolomiti: hsl(34, 97%, 64%);
$color-erboristeria: hsl(180, 62%, 55%);
$color-misto: hsl(212, 86%, 64%);
$big-title: 4rem;
$big-title-line: 3.8rem;


// GENERAL
body{
    font-family: 'Raleway', sans-serif;
}

a{
    color:$color-link;
    font-weight: 700;
}

a:hover{
    color:black;
}

a:visited {
    color: $color-link;
}

.page-heading{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.left{
    text-align: left;
}

.stay-right{
    float: right;
}

.bold{
    font-weight: 700;
}

.smaller{
    font-size: 80%;
}

.main-wrapper{
    min-height: 100vh;
}

// HEADER
.nav-header {
    border-top: none;
    border-bottom: none;
    min-height: none;

}


.logo-header{
    float: left;
    margin: 0;
    padding: 0;
    img {
        max-height: 30px;
    }
}

nav {
    &.primary-navigation {
      margin: 0 auto;
      display: block;
      background-color: $color-primary;
      text-align: center;
    }
}

.topnav {
    overflow: hidden;
    background-color: $color-primary;
    vertical-align: middle;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    a{
        padding-right: 1rem;
    }
    i{
        padding-top: 14px;
        padding-left: 0px;
    }
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: white;
    text-decoration: underline;
  }

  .topnav .icon:hover{
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color:$color-primary;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
   
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {
        margin-top: 2rem;
        float: none;
    }
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown {
      margin-left: 0;
      display: block;
      width: 100%;
      text-align: left;
    }

    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      margin-left: 0;
      padding: 0;
      display: flex;
      text-align: left;
    }

  }

  

// FOOTER

.site-footer{
    background-color: $color-primary;
    color:white;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    
    a,p,li {
        color: white;
    }
    .svg-icon {
        fill:white;
    }
    ul .social-media-list{
        margin-top: 1rem;
        li{
            width: 40px;
            display: inline;
        }
    }
    
}

// mailchimp form

#mc_embed_signup .button {
    clear: both;
    background-color: transparent;
    border-width: 2px;
    border-radius: 4px;
    border-color:#ffffff; ;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 10px 5px 10px 0;
    padding: 5px 22px 35px 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: fit-content;
    width: -moz-fit-content;
  }


  #mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    margin: 0px;
  }

  #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 2px solid #e85c41;
  }
  #mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
  }
  #mc_embed_signup input.mce_inline_error {
    border-color: #6B0505;
  }
  #mc_embed_signup input {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .credit{
    margin-top: 1rem;

  }

  @media (max-width: 700px) {

    .site-footer{
        text-align: center;
    }
    
    #mc_embed_signup form {
        text-align: center;
      }

    .footer-col{
        padding-left: 10px;
    }

    .footer-col-wrapper {
        width: 80%;
        margin: auto;
      }

}


.post-title{
    font-size: $big-title;
    line-height: $big-title-line;
}


@media screen and (max-width: 800px){
    .post-title{
        font-size: 2rem;
        line-height: 1.8rem;
    }
    
}

// SLIDER

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-350px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 30vh;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 30vh;
		position: absolute;
		width: 100px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(350px * 14);
	}
	
	.slide {
		height: 30vh;
		width: 350%;
	}
}

// HOME PAGE

.full-bg{
  width:100%;
  padding-top: 3rem;
  height:70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1,h2{
      color: white;
  }
  h1 {
    font-family: 'Prata', serif;
    font-size: 4rem;
  }
}
@media (max-width: 700px) {
    h1 {
        font-size: 2rem;
      }
}
.header-container{
    display: flex;
}

.view-more{
    padding: 0.4rem 0.9rem;
    margin:2rem;
    text-align: center;
    width:180px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: $grayishBlue;
    border-radius: 5px;
    a{
        color: $grayishBlue;
    }
}

.view-more:hover{
    background: $grayishBlue; 
    a{
        color:white;
    }
}



//escursioni description

.no-excursion{
    text-align: center;
    min-height: 300px;
}

.esc-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .appennino {
        border-top: 3px solid $color-appennino;
    }
    .dolomiti{
        border-top: 3px solid $color-dolomiti;
    }
    .erboristeria{
        border-top: 3px solid $color-erboristeria;
    }
    .misto{
        border-top: 3px solid $color-misto;
    }
}
.esc-header {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
   
    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        margin-top: 1rem;
        border-radius: 50%;
    }
}

.esc-desc{
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px $grayishBlue;
    padding: 3rem;
    margin: 1rem;  
    flex-basis: 35%;

    p {
        color: $grayishBlue;
    }
    
    h2{
        color: black;
        text-align: center;
        line-height: 1;
        font-weight:700;
        margin-bottom: 2rem;
    }

}

@media (max-width: 870px) {
    .esc-desc{
        margin: 1rem;
        flex-basis: 10%;
    }
}

@media (max-width: 700px) {
    .esc-desc{
        margin: 1rem;
        flex-basis: 100%;
    }
}


//escursioni single description

.esc-container-single{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px $grayishBlue;
    padding: 1rem;
    margin-bottom: 2rem;  
    flex-basis: 100%;
    min-height: 40vh;
    h2{
        font-size: $big-title;
        line-height: $big-title-line;
    }
}

.esc-desc-single{
    width: 50%;
    padding: 0.4rem;
    img{
        border-radius: 5px;
        width: 100%;
    }
}

.esc-container-single-appennino{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 2rem; 
    flex-basis: 100%;
    min-height: 40vh;
    h2{
        font-size: $big-title;
        line-height: $big-title-line;
    }
    span{
        white-space:nowrap;
        margin-right: 0.4rem;
    }

    span:last-child {
        margin-right: 0px;
    }
  

}


.esc-desc-single-appennino{
    width: 60%;
    padding: 0.4rem;
    p{
        margin-bottom: 5px;
    }
}

.image-single{
    width: 30%;
}

@media screen and (max-width: 800px){
    .esc-container-single{
        display: block;

        .esc-desc-single{
            width: 100%;
            padding: 0.4rem;
        }

        h2{
            font-size: 2rem;
            line-height: 1.8rem;
        }
    }
    .esc-container-single-appennino{
        display: block;

        .esc-desc-single-appennino{
            width: 100%;
            padding: 0.4rem;
        }

        h2{
            font-size: 2rem;
            line-height: 1.8rem;
        }
    }
    .image-single{
        width: 100%;
    }
    .stay-right{
        float: none;
    }
}


// FILTER BAR
 
 .filters-container{
   margin-bottom: 25px;
 }

 .filters-container:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
 }

.media-boxes-filter{
   font-size: 0px;
   list-style: none;
   margin: 0;
   padding: 0px;
   text-align: left;
   text-align: center;
}

 .media-boxes-filter>li{
   display: inline-block;
   margin: 0 10px 5px 0;

   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
           box-sizing: border-box;         /* Opera/IE 8+ */
 }

 .media-boxes-filter>li:last-child{
   margin-right: 0 !important;
 }

 .media-boxes-filter>li a{
   -webkit-box-sizing: content-box !important; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: content-box !important;    /* Firefox, other Gecko */
           box-sizing: content-box !important;         /* Opera/IE 8+ */

   vertical-align: top;
   font-weight: 700;
   display: block;
   cursor: pointer;
   color: $color-link;
   font-size: 16px;
   height: 38px;
   line-height: 38px;
   text-decoration: none;
   margin: 0px;
   padding: 0 15px;

}

.media-boxes-filter>li a:hover{
    text-decoration: overline;
}

.media-boxes-filter>li a.selected{
    text-decoration: underline;
}


.media-box{

    .appennino {
        border-top: 3px solid $color-appennino;
    }
    .dolomiti{
        border-top: 3px solid $color-dolomiti;
    }
    .erboristeria{
        border-top: 3px solid $color-erboristeria;
    }
    .misto{
        border-top: 3px solid $color-misto;
    }
}

.media-box-image{
    background-position: top; 
    border-radius: 5px;
}

.media-box-container{
   
}

.media-box-title{
    margin-top:20px;

    h3 {
        font-size: 0.9rem;
        margin-block-start: 1em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

.meeting{
    font-size: 0.8rem;
    padding-bottom:2rem;
    font-weight: 400;
  
    hr{
        margin-bottom:1rem;
        height:1px; border:none; color:#000; background-color:#000;
    }
    img{
        width: 90px;
    }
}

.prenota{
    width:90px;
    border-color:$color-primary;
    border-style: solid;
    border-radius: 5px;
    padding: 0.4rem 0.9rem;
    text-align: center;
    margin-top: 0.3rem;
    
    a{
        color:$color-primary;
    }
}

.gpx{
    display: flex;
    flex-wrap: nowrap;
    width:180px;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 
    a{
        color:$color-primary;
    }
    .gpx-icon{
        width: 30%;
    }
   
}

.prenota:hover {
    background-color:$color-primary;
    
    a{
        color:white;
    }
}

@media (max-width: 700px) {
    .media-box-title{
        margin-top:20px;
        min-height: 20px;
    } 
    .gpx{
        margin-top:2rem;
        margin-bottom:2rem;
        min-height: 2rem;
        width:230px;
        a{
            color:$color-primary;
            font-size:21px;
        }
        .gpx-icon{
            width: 50%;
        }
       
    }
}

.altimetria{
    margin-top: 2rem;
    margin-bottom: 0;
}

// GALLERY
.container{
    padding: 40px 5%;
}

ul.gallery{
    margin-left: 0;
}

.gallery{
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    row-gap: 1rem;
    column-gap: 1rem;
    list-style: none;
   
    li {
        flex-basis: 20%; /* width: 350px; */
        img {
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            vertical-align: middle;
            border-radius: 5px;   
        }
    } 
}

.gallery::after {
    content: "";
    flex-basis: 350px;
}
  

//BLOG

.blog{
    display: flex;
    flex-flow: row wrap;
}

.blog-first{
    width: 70%;
}


.blog-second{
    width: 30%;   
}

.diari-content{
    width: 80%;   
}

.diari{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.7rem;

    .card {
        display: flex;
        flex-direction: column;
        width:48%;
        overflow: hidden;
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.4em;
    }

    .card__header{

        img{
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
        }
    }

    .card__title{
        padding: 1rem 1rem 0rem 1rem;
    }

    .card__body {
        padding: 0rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
      
      
    .card__footer {
        display: flex;
        padding: 0rem 1rem 1rem 1rem;
        margin-top: auto;
    }
    
    .user {
        display: flex;
        gap: .5rem;
    }
      
    .user__image {
        border-radius: 50%;
        width:30px;
        height:30px;
        display: block;
        object-fit: cover;
    }
    
    .user__info {
        margin-bottom:0;

        .user__author{
            margin-top:0.2rem;
            display: block;
        }
       
        small {
            color: $grayishBlue;
            margin: 0;
        }

    } 
      
}

@media (max-width: 700px) {
    .diari-content{
        width: 100%;   
    }

    .diari{
        display: block;
    }

    .card{
        display: block !important;
        width: 100% !important;
        margin-bottom: 0.8rem;
    }
    .card__header{

        img{
            height: auto !important;
        }
    }

    .blog-first{
        width: 100%;
    }

    .blog-second{
        width: 100%;  
        .left{
            text-align: center;
        }
    }
}


  // POST

.post{
    margin-bottom: 3rem;
}

.esc{
    display: flex;
    align-items:  flex-start;
    width: 100%;
}
.post-info{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    flex: 0 0 20%;
    span{
       font-size: large;
    }
}

.post-info-appennino{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    flex-basis: 50%;
    span{
       font-size: large;
    }
}

.post-content-esc{
    margin-left: 1rem;
}

.main-img{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    img{
        width: 100%;
    }
}


@media (max-width: 700px) {

    .post-info{
        /*position: -webkit-sticky;  Safari
        position: sticky;
        align-self: start;
        top: 0; */

        position: static;
        width: 100%;
        display: block;
        justify-content: space-between;
   
    }

    .post-info-appennino{
        position: static;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .esc{
        display: block;
    }

   .post-content-esc{
        margin-left: auto;
    }

}
.kmz-icon{
width: 50px;
margin-bottom: 1rem;
margin-top: 1rem;
}

// RADIO
.radio-block{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;

    hr{
        margin-top: 2rem;
    }
    .podcast-img{
        margin-top: 1rem;
        width: 100%;
        border-radius:5px;
    }
}

.radio-main{
    
}

.radio-title{
    margin-bottom:1rem;
    margin-top: 1rem;
}
