---
layout: default
---

<div class="esc-container-single">
  {% for excursion in page.excursions %}
      <div class="esc-desc-single {{excursion.category}}">
        <h2><strong>{{ excursion.nome | escape | markdownify }}</strong></h2>
        <p>{{ content }}</p>
      </div>
      <div class="esc-desc-single {{excursion.category}}">
          <div>
              <img {% if excursion.immagine contains "http" %} src="{{excursion.immagine}}" {% else %} src="{{ site.url }}/img/{{excursion.immagine}}"  {% endif %} alt="{{excursion.nome | escape }}" />
          </div>
      </div>    
  {% endfor %}
</div>

<h2 class="page-heading">In programma</h2>
{%- include escursioni-loop-selection-by-page.html -%}
  
{% if page.layout == 'home' %}
  <div class="view-more">
    <a href="/escursioni">Vedi tutte le escursioni</a>
  </div>
{% endif %}