---
layout: default
---
<div class="esc-container-single">
    <div class="esc-desc-single {{excursion.category}}">
        <h2><strong>{{ page.title }}</strong></h2>
        <p>{{ content }}</p>
    </div>
    <div class="esc-desc-single {{excursion.category}}">
    </div>   
</div>


<h2 class="page-heading">Percorsi</h2>



{%- include piccolo-appennino-loop.html -%}


<h2 class="page-heading">Escursioni in programma</h2>

<div class="post-list">
    {% assign postCounter = 0 %}
    {% assign maxPost = 4   %}
    {% for post in site.posts %}  
    {% if post.path contains 'escursioni'%}
    {% assign postCounter = postCounter | plus: 1 %}
        <div class="post-single">
            <img src="{{site.url }}/img/escursioni/{{post.image }}"/>
            <div class="media-box-content">
                <div class="media-box-title">
                    <a href="{{ post.url | relative_url }}">
                        <h3 class="bold">{{ post.title | escape }}</h3>
                    </a>
                </div>
                
                <div class="meeting">
                <!--<span>Data:</span>--> <span>{{post.day | date: "%d %b"}}, </span>
                <span>{{post.distanza }}, </span>
                <!--<span>Ritrovo ore:</span> <span>{{post.meeting }}</span><br>-->
                <span>Difficoltà:</span> 
                    {% if post.difficult == 1 %}<span><img src="/img/ratings/star-1-5.svg"/></span>{% endif %} 
                    {% if post.difficult == 2 %}<span><img src="/img/ratings/star-2-5.svg"/></span>{% endif %} 
                    {% if post.difficult == 3 %}<span><img src="/img/ratings/star-3-5.svg"/></span>{% endif %} 
                    {% if post.difficult == 4 %}<span><img src="/img/ratings/star-3-5.svg"/></span>{% endif %} 
                    {% if post.difficult == 5 %}<span><img src="/img/ratings/star-5-5.svg"/></span>{% endif %} 
                    
                    {% include prenota.html %}
            </div>
        </div>
        </div>
        {% if postCounter >= maxPost %}
            {% break %}
        {% endif %}
    {% endif %} 
{% endfor %}    
</div>

<div class="view-more">
    <a href="/escursioni">Vedi tutte le escursioni</a>
</div>

