---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% if page.category == "diari" %}
        {{page.date | date: "%d/%m/%Y" }}
      {% else %}
      {% endif %}
    </p>
    <div class="main-img">
     <img class="main-img" src="/img/{{page.image}}"/>
    </div>
  </header>
  {% if page.category == "diari" %}
    {{page.content }}
  {% else %}
    <div class="meeting post-info">
      <span>Data:</span> <span class="bold">{{page.day }}</span><br>
      <span>Ritrovo ore:</span> <span class="bold">{{ page.meeting }}</span><br>
      <span>Difficoltà:</span> 
        {% if page.difficult == 1 %}<span><img src="/img/ratings/star-1-5.svg"/></span>{% endif %} 
        {% if page.difficult == 2 %}<span><img src="/img/ratings/star-2-5.svg"/></span>{% endif %} 
        {% if page.difficult == 3 %}<span><img src="/img/ratings/star-3-5.svg"/></span>{% endif %} 
        {% if page.difficult == 4 %}<span><img src="/img/ratings/star-3-5.svg"/></span>{% endif %} 
        {% if page.difficult == 5 %}<span><img src="/img/ratings/star-5-5.svg"/></span>{% endif %} 
        {% include prenota.html %}
    </div>

    <div class="post-content-esc e-content" itemprop="articleBody">
      {{ content }}
    </div>
  {% endif %}
 


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
