---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

{% if page.category == "piccolo-appennino" %}
  <header class="post-header">
    <div class="esc-container-single-appennino">
      <div class="esc-desc-single-appennino">
        <h2><strong>{{page.title | escape}}</strong></h2>
        <hr>
        <h3><strong>Descrizione:</strong></h3>
        <p>{{ content }}</p>
        <hr>
        <br>

        <p><span><strong>Utilizzo:</strong> {{page.utilizzo | escape}}, </span><span><strong> Distanza:</strong> {{page.distanza | escape}},</span> <span><strong> Dislivello:</strong> {{page.dislivello | escape}},</span> <span><strong> Durata:</strong> {{page.durata | escape}},</span> <span><strong> Difficoltà:</strong> {{page.difficolta| escape}}</span></p>

      </div>
      <div class="image-single">
        <img class="main-img" src="/img/piccolo-appennino/{{page.image}}"/>
        <hr>
        <div class="gpx">
          <a class="gpx-icon" href="/gpx/{{page.GPX}}">
            <img src="/img/icons/gpx.png"/>
          </a>
          <a href="/gpx/{{page.GPX}}">
            <p>Scarica il file GPX</p>
          </a>
        </div>
        <hr> 
      </div>
    </div>

    <iframe src="{{page.percorso}}" width="100%" height="480"></iframe>

   
      <div class="post-content-esc" itemprop="articleBody">
        <p class="bold altimetria">Altimetria:</p>
        <img class="main-img" src="/img/piccolo-appennino/{{page.altimeria}}"/>
      </div>
    
  </header>
{% else %}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline"><strong>{{ page.title | escape }}</strong></h1>
    <p class="post-meta">
      {% if post.path contains 'diari' %}
        {{page.date | date: "%d/%m/%Y" }}
      {% endif %}
    </p>
    <div class="main-img">
      {% if post.path contains 'diari' %}
        <img class="main-img" src="/img/diari/{{page.image}}"/>
      {% endif %}

      {% if page.category == "dolomiti" or page.category == "appennino" or page.category == "misto" or page.category == "erboristeria" %}
        <img class="main-img" src="/img/escursioni/{{page.image}}"/>
      {% endif %}

     <!--{% if page.category == "piccolo-appennino" %}
        <img class="main-img" src="/img/piccolo-appennino/{{page.image}}"/>
     {% endif %}-->
     
        
    </div>
  </header>
  {% if page.category == "diari" %}
    <div class="diari-content">
      {{page.content }}
    </div>
  {% else %}
    <div class="esc">
        <div class="meeting post-info">
          <span>Data:</span> <span class="bold">{{page.day }}</span><br>
          <span>Ritrovo ore:</span> <span class="bold">{{ page.meeting }}</span><br>
          <span>Distanza:</span> <span class="bold">{{page.distanza }}</span><br>
          <span>Difficoltà:</span> 
              {% if page.difficult == 1 %}<span><img src="/img/ratings/star-1-5.svg"/></span>{% endif %} 
              {% if page.difficult == 2 %}<span><img src="/img/ratings/star-2-5.svg"/></span>{% endif %} 
              {% if page.difficult == 3 %}<span><img src="/img/ratings/star-3-5.svg"/></span>{% endif %} 
              {% if page.difficult == 4 %}<span><img src="/img/ratings/star-3-5.svg"/></span>{% endif %} 
              {% if page.difficult == 5 %}<span><img src="/img/ratings/star-5-5.svg"/></span>{% endif %} 
              {% include prenota.html %}
        </div>    

        <div class="post-content-esc" itemprop="articleBody">
          {{ content }}
        </div>
    </div>
  {% endif %}

{% endif %}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
